table {
  border: #000 solid 2px;
}

thead {
  background-color: #ddddff;
}

th,td {
  padding: 4px 6px;
}

.input {
  margin-block: 8px;
  display: flex;
  flex-direction: column;
}
.input * {
  width: fit-content;
}