:root {
  --main-light: #eeeeee;
  --main-dark: #191919;
  --accent: #ff5656;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src: url(./fonts/Raleway-Regular.woff2);
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url(./fonts/Raleway-Bold.woff2);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-light);
  margin: 0;
  padding: 0;
}

figure {
  margin-inline: 0;

  figcaption {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--accent);

    a {
      font-weight: 400;
      color: inherit;
    }
  }
}

nav {
  font-size: 0.9rem;
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent);
  border-bottom: var(--main-dark) solid 2px;
  position: sticky;

  .logo * {
    width: 2rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 2ch;

    li * {
      color: var(--main-dark);
      text-decoration: none;
      opacity: 0.75;
      
      &:hover { opacity: 1; }
    }
  }
}

main {
  max-width: 60ch;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: var(--main-dark) solid 1px;
    border-radius: 12px;
  }

  p {   
    line-height: 1.75;
  }
}